<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Community Events</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="contact-section">
            <h1>Contact Us</h1>
            <p>If you have any questions or suggestions, feel free to reach out to us through the contact details below. We are here to help and would love to hear from you!</p>
            <div class="contact-details">
                <p><strong><i class="fas fa-envelope"></i> Email:</strong> <a href="mailto:varun@gmail.com">varun@gmail.com</a></p>
                <p><strong><i class="fas fa-phone"></i> Phone:</strong> <a href="tel:+91 8143131510">8143131510</a></p>
                <p><strong><i class="fas fa-home"></i> Address:</strong> BHEL Old MIG Plot No. 101 R.C. Puram, Hyderabad, Telangana</p>
            </div>
        </div>
    </div>
</body>
</html>
